.group {
    background-color: #3299BB;
    width: 300px;
    height: 250px;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    border-radius: 10px;
    font-size: 26px;
}

.group h3 {
    text-align: center;
}
